/* Sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 10vh;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .tabs {
    display: flex;
    flex-direction: column;
  }
  
  .tab {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab:hover {
    background-color: #777;
  }
  
  .tab.active {
    background-color: #777;
  }
  
  .content {
    padding: 20px;
  }
  